/*General Styles*/

html {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight:600;
}

#welcome {
  background-color:#2c8e0f;
  color:white;
  height:400px;
}

#map {
  height:500px;
}

#environment {
  background:"assets/symphony.png";
  height:500px;
  background-color:#419926;
}
