html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h1 {
    font-size: 7.5rem;
    font-weight: 200;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

h2 {
    font-size: 3rem;
    font-weight:600;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    color:#2c8e0f;
}
h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  color:#2c8e0f;

}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    line-height: 1.4;
    font-size: 1rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

div {
    display: block;
}

ul {
    list-style-type: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #2c8e0f;
    padding: 0;
    font-weight: 300;
}

::selection {
    background-color:#2c8e0f;
    color: white;
}
::-moz-selection {
    background-color: #2c8e0f;
    color: white;
}
/* BANNER
-----------------------------------------*/

.banner {
    max-width: 100%;
    max-height: 100%;
    background-color: #2c8e0f;
    color: #ffffff;
    padding-left: 20px;
    height: 100vh;
}

.header {
    padding-top: 120px;
    padding-bottom: 85px;
}

.accent {
    color:white;
    font-weight: 400;
    font-size: 7.5rem;
}

.banner h1 {
    margin-bottom: 10px;
}

.scrolldown {
  display: none;
  font-size:2rem;
}

/* ABOUT
-----------------------------------------*/

.about {
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    background-attachment: fixed;
    color: #936278;
    height: 100%;
    position: relative;
    background-position: center;
}

.aboutbox {
    width: 650px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

.about p a {
    color: #2c8e0f;
    font-weight: bold;
    font-size: 1rem;
}

.about p a:hover {
    color: #2c8e0f;
    text-decoration: underline;
}
/* MAP
-----------------------------------------*/

.map {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: 0;
    background: url('../assets/pixel_weave.png');
    background-attachment:fixed;
    background-position:center;
    text-align: center;
}

#map {
  height:550px;
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.range {
  width:900px;
  color:black;
}

.legend {
    line-height: 18px;
    color: black;
    background-color: white;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.leaflet-pane .leaflet-overlay-pane {
    z-index: 10000;
}

.leaflet-pane .leaflet-marker-pane {
    z-index: 10002;
}
.leaflet-pane .leaflet-popup-pane {
    z-index: 10002;
}
.leaflet-pane .leaflet-boundaries-pane {
    z-index:10001;
}

.leaflet-pane .leaflet-boundaries-pane svg g path {
    stroke: gray;
    fill: none;
}

.map h4 {
    width: 900px;
    display: inline-block;
}
/* findings --------------------*/

.findings {
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    background-attachment: fixed;
    color: #936278;
    height: 100%;
    position: relative;
    background-position: center;
}
.findingsbox h2 {
  text-align: center;
}
.findingsbox {
    width: 650px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.findings p a {
    text-decoration: underline;
    color: #936278;
    font-weight: bold;
    font-size: 1rem;
}

.findings p a:hover {
    color: #936278;
    text-decoration: underline;
}
/* footer
-----------------------------------------*/

.footer {
    margin: 0;
    padding-top: 80px;
    list-style-type: none;
    text-align: center;
    background-color: #2c8e0f;
}

.footer p {
  color:white;
}
.copyright {
    padding-top: 35px;
    padding-bottom: 0;
}

/*Media Queries*/

@media (max-width: 1024px) {
    .banner {
        height:500px;
    }
    .banner h1 {
        font-size: 5rem;
    }
    .banner h2 {
        font-size: 2rem;
    }
    .accent {
        font-size: 5rem;
    }
    .header {
        margin-bottom: -30px;
    }
}
@media (max-width: 1012px) {
    .banner {
        height:500px;
    }
    .banner h1 {
        font-size: 3.75rem;
    }
    .banner .scrolldown {
        font-size: 1.45rem;
    }
    .accent {
        font-size: 3.75rem;
    }
    .header {
        margin-bottom: -30px;
    }
    .map h4 {
        width:800px;
    }
    .map .menu-ui {
        width:800px;
        margin-right: auto;
        margin-left:auto;
    }
}
@media (max-width: 820px) {
    h2 {
        font-size: 2.5rem;
    }
    .map h4 {
        width:700px;
    }
    .map .menu-ui {
        width:700px;
        margin-right: auto;
        margin-left:auto;
    }
}
@media (max-width: 774px) {
    .banner h1 {
        font-size: 3rem;
    }
    .banner .scrolldown {
        font-size: 1.2rem;
    }
    .accent {
        font-size: 3rem;
    }
}
@media (max-width: 715px) {
    .map h4 {
        width:600px;
    }
    .map .menu-ui {
        width:600px;
        margin-right: auto;
        margin-left:auto;
    }
}
@media (max-width: 675px) {
    h2 {
        font-size: 2rem;
    }
    .aboutbox {
        width:550px;
    }
}

@media (max-width: 774px) {
    .banner h1 {
        font-size: 2.5rem;
    }
    .banner .scrolldown {
        font-size: 1rem;
    }
    .accent {
        font-size: 2.5rem;
    }
    .map h4 {
        font-size: 1rem;
        font-weight: normal;
        width:500px;
    }
    .map .menu-ui {
        width: 500px;
    }

    
}